services:
  admin:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vive-silver-admin
    restart: always
    networks:
      - proxy

networks:
  proxy:
    external: true
